@mixin transition($duree : .3s) {
	transition:$duree all ease-in-out;
}

@mixin bouton ($bgcolor,$border-color){
	padding: 10px 15px;
	font-size: 14px;
	background: $bgcolor;
	border: 1px solid $border-color;
}

//.active-button { 
//  @include button($green-mid, $green-light);
//}

@mixin centrage($top: 50%, $left:50%){
	position: absolute;
    top:$top;
    left:$left;
    transform: translate(-50%, -50%);
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}