$rose-light: #FCC9D9;
$bleu-light: #C6EDE8;
$rose-dark: #EE326D;
$bleu-dark: #A1CDC8;
$gris-dark: #4A4A4A;
$blanc:#FFFFFF;

$font-normal:  'Maven Pro', sans-serif;
$font-script: 'Cookie', Helvetica, sans-serif;