#formulaire{background-color: $rose-light; padding:25px 0;}

.flexbox{
	display: -webkit-flex;
    display: flex;
	label{
		display: block;
	}
	input, textarea{
		border-radius: 5px;
		border:1px solid $bleu-light;
		padding:15px;
		margin:10px;
		color:$gris-dark;
	}
	#nom, #prenom, #mail, #localite{
		width: 50%;
	}
	input:active, input:focus, input:focus-in{
		color:$rose-dark;
		border:1px solid $rose-dark;
	}
}

@media (max-width: 992px){}
